/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* bootstrap css */
body,html{
  height: 100%;
  margin: auto;
  background: #7F7FD5;
     background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.card{
  margin: auto;
  height: 600px;
  width: 700px;
  border-radius: 15px !important;
  background-color: rgba(0,0,0,0.4) !important;
}
.msg_card_body{
  overflow-y: auto;
  overflow-x: hidden;
 background-color: rgba(0,0,0,0.4) !important;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
  display: inline-block;
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container{
  align-content: center;
}
.form{
  margin-top: 10px;
  }
  
.type_msg{
  background-color: rgba(0, 0, 0, 0.3) !important;
  border:1px !important;
  color:rgba(255, 255, 255, 0.822) !important;
  margin-top: 1px;
}
  .type_msg:focus{
    box-shadow:none !important;
      outline:0px !important;
}
.type_name {
  background-color: rgba(0,0,0,0.3) !important;
  border: solid 1px black !important;
  color:white !important;
  overflow-y: auto;
}
.send_btn{
  border-radius: 0 17px 17px 0 !important;
  background-color: rgb(0, 203, 218) !important;
  margin-top: 10px;
  border:0 !important;
  color: rgb(0, 0, 0) !important;
  cursor: pointer;
}

.icon-text {
  width: 50px;
  height: 50px;
  background-color: chocolate;
  margin: auto 0;
  border-radius: 100%;
  text-align: center;
  vertical-align: center;
  margin-top: 50%;
}

.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 15px;
background-color: #b3f1ff;
padding: 9px;
position: relative;
}
.msg_cotainer p {
  color: #1c2230;
  margin-bottom: 4px;
}
.msg_time {
  color: black;
  font-size: 11px;
  margin-left: 30%;
  padding-right: 15px;
  margin-top: 5px;
}

.btn {
  padding: 0px;
  background-color: transparent;
}

.cg-cl-del {
  color: red;
}
.user_img_msg{
  height: 50px;
  width: 50px;
  border:1.5px solid #eff0f1;
  background-color: rgb(104, 101, 155);
}
.rounded-circle {
  color: #222227;
  font-family: 'Arvo', serif;
  padding-left: 10px;
  padding-top: 10px;
}
.name {
  color: #e7c75b;
  font-family: arvo;
}
.img_cont_msg{
  height: 40px;
  width: 40px;
  margin-top: px;
  margin-right: 20px;
}
.d-flex {
  margin-right:20px;
}